* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  background-color: darkmagenta;
  color: gainsboro;
  padding: 24px;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 24px;
  color: rgb(255, 215, 36);
}

.list {
  list-style: none;
}

.list-item {
  padding: 17px 8px;
  color: rgb(144, 5, 84);
  margin-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.bg-one {
  background-color: palevioletred;
}

.bg-one:hover {
  background-color: aliceblue;
}

.bg-two {
  background-color: rgb(255, 183, 219);
}
