* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: darkorchid;
  color: azure;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  cursor: none;
}

.emoji-cursor{
  position: absolute;
  font-size: 32px;
}