* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.ingredientes {
  margin: 0 auto;
  width: 100px;
  border: 2px solid lightblue;
}

.lista {
  list-style: none;
}

.botana {
  padding: 8px 24px;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-lightpink {
  background-color: pink;
}